# Configuración de la Base de Datos (PostgreSQL)
POSTGRES_USER=tu_usuario_aqui
POSTGRES_PASSWORD=tu_contraseña_aqui
POSTGRES_DB=compliance_db
DB_HOST=db-relational  # Nombre del servicio en docker-compose
DB_PORT=5432

# URL de conexión para SQLAlchemy
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${DB_HOST}:${DB_PORT}/${POSTGRES_DB}

# Configuración de la App
APP_PORT=8000
DEBUG=True