PORT=4000
# El host es el nombre del servicio en el docker-compose
DOCUMENT_PROCESSOR_URL=http://doc_processor_app:8000
NODE_ENV=development
# API Key para autenticación desde el BFF a FastAPI
API_KEY_SECRET = "tu_clave_secreta_aqui"
FRONTEND_URL=http://localhost:5173