PORT=puerto_deseado_aqui
# El host es el nombre del servicio en el docker-compose
DOCUMENT_PROCESSOR_URL=ruta_a_tu_servicio_de_procesamiento_de_documentos_aqui
NODE_ENV=development
# API Key para autenticación desde el BFF a FastAPI
API_KEY_SECRET = "tu_clave_secreta_aqui"