.content-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
  min-height: calc(100vh - 80px); /* Ajusta el 80px según el alto de tu Navbar */
  line-height: 1.6;
}

.content-container h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.content-container h2 {
  font-size: 1.8rem;
  color: #333;
}

.content-container hr {
  border: 0;
  border-top: 1px solid #eee;
  margin: 20px 0;
}