/* Register.module.css */

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem; /* Espaciado entre inputs */
  padding: 0 8px;
}

.registerCard {
  max-width: 420px;
  width: 100%;
  min-height: 550px; /* Altura fija para evitar saltos */
  display: flex;
  flex-direction: column;
}

.globalError {
  background-color: #fef2f2;
  color: #ef4444;
  padding: 10px;
  border-radius: 6px;
  font-size: 0.85rem;
  border: 1px solid #fee2e2;
  text-align: center;
}

.footerLinks {
  width: 100%;
  text-align: center;
  font-size: 0.9rem;
}

.footerLinks a {
  margin-left: 5px;
  color: var(--color-primary);
  text-decoration: none;
  font-weight: 600;
}
